{% extends "task_detail_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content_lhs%}
    {% if unscored %}
        Unscored: <span class="badge badge-pill badge-primary">{{unscored.count}}</span>
        {% for solution in unscored %}
                <form method="POST" class="form-group ">
                    {% csrf_token %}
                    <button type="submit" value="{{solution.id}}" name="showSolution" class="list-group-item list-group-item-action">{{solution.user.username}}</button>
                </form>
        {% endfor %}
    {% endif %}
    {% if scored %}
        Scored: <span class="badge badge-pill badge-primary">{{scored.count}}</span>
        {% for solution in scored %}
                <form method="POST" class="form-group ">
                    {% csrf_token %}
                    <button type="submit" value="{{solution.id}}" name="showSolution" class="list-group-item list-group-item-action">{{solution.user.username}}</button>
                </form>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content_rhs%}
    {% if solution %}
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
        From: {{solution.user.username}}      
        <pre><code data-language="c">{{solution.code}}</code></pre>
        {% if solution.score.isScored %}
            Comment:
            <pre><code data-language="c">{{solution.score.comment}}</code></pre>
            Score:
            {{solution.score.mark}} / {{task.max_score}}
            <br>Tutor:
            {{solution.score.tutor.username}}
        {% else %}
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" value="{{solution.id}}" name="submit" class="btn btn-success">Submit</button>
                </form>
            
        {% endif %}
        </div>
    {% endif %}
{% endblock %}