<!-- @todo: why can't two cards be collapsed? -->
<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link nounderline" data-toggle="collapse" data-target="#{{id}}" aria-expanded="true" aria-controls="{{id}"}>
            {{title}}
            </button>
        </h5>
    </div>
    <div id="{{id}}" class="collapse {{show}}" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="list-group">
                {% if tasks.notdone %}
                    Imcompleted:
                    {% for task in tasks.notdone %}                          
                        <a href="/task/{{task.id}}" class="list-group-item nounderline list-group-item-danger"> {{task.name}}</a>
                    {% endfor %}
                {% endif %}
                {% if tasks.done %}
                    Completed:    
                    {% for task in tasks.done %}                          
                        <a href="/task/{{task.id}}" class="list-group-item nounderline list-group-item-success"> {{task.name}}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>