<canvas id="{{id}}" width="250" height="250"></canvas>
    <script type="text/javascript">
    var endpoint = '{{user}}' + '/data/tasks';
    var data = [];
    $.ajax({
            method:"GET",
            url: endpoint,
            success: function(data) {
                var ctx = document.getElementById("{{id}}");
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                    labels: ['Done', 'Todo'],
                    datasets: [{
                        label: '# of Tomatoes',
                        data: [data['{{tasks}}'].done, data['{{tasks}}'].todo],
                        backgroundColor: [
                            '#c3e6cb',
                            '#f5c6cb'
                        ],
                        borderColor: [
                            '#155724',
                            '#721c24'
                        ],
                        borderWidth: 1
                        }]
                    },
                    options: {
                        cutoutPercentage: 40,
                        layout: {
                            padding: {
                              bottom: 15,
                            }
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "{{title}}",
                        },
                    }
                });
            },
            error: function(error_data) {
                console.log(error_data)
            }
    })
    </script>