{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
    <link href="{% static "css/monokai.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/prism.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title%} Dashboard {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="shadow-sm p-3 mb-5 bg-white rounded col">
                <div class="row justify-content-center">
                    {% block header %}
                        <h3><a href={{task.link}}>{{task.name}}</a></h3>(max score: {{task.max_score}})
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                {% block content_lhs%}
                   
                {% endblock %}
            </div>

            <div class="col-9">
                {% block content_rhs%}
                  
                {% endblock %}
            </div>
        </div>
        
    
    {% else %}
        Login <a href="/login">here.</a>
    {% endif %}
    <script src="{% static "js/prism.js" %}"></script>
{% endblock %}