<div class="row justify-content-center">
    <div class="col">
        <div class="row justify-content-center">
            <canvas class="mt-4" id="{{task}}" width="250" height="250"></canvas>
            <canvas class="mt-4" id="{{task}}users" width="250" height="100"></canvas>
        </div>
    </div>
</div>

<script type="text/javascript">
    var endpoint = 'task/' + '{{task.id}}' + '/data';
    var data = [];
    $.ajax({
            method:"GET",
            url: endpoint,
            success: function(data) {
                console.log(data)
                var ctx = document.getElementById("{{task}}");
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                    labels: ['Done', 'Todo'],
                    datasets: [{
                        label: '',
                        data: [data.done, data.todo],
                        backgroundColor: [
                            '#c3e6cb',
                            '#f5c6cb'
                        ],
                        borderColor: [
                            '#155724',
                            '#721c24'
                        ],
                        borderWidth: 1
                        }]
                    },
                    options: {
                        cutoutPercentage: 40,
                        layout: {
                            padding: {
                              bottom: 15,
                            }
                        },
                        responsive: false,
                        title: {
                            display: true,
                            text: "{{task.name}}",
                        },
                    }
                });

                var coloR = [];
                var dynamicColors = function() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    return "rgb(" + r + "," + g + "," + b + ")";
                };

                for (var i in data.score.users) {
                    coloR.push(dynamicColors());
                }
                console.log(coloR)
                console.log(data.score.users)
                console.log(data.score.score)
                

                var ctx1 = document.getElementById("{{task}}users")
                var myBarChart = new Chart(ctx1, {
                    type: 'horizontalBar',
                    data: {
                    labels: data.score.users,
                    datasets: [
                        {
                        label: "Points",
                        backgroundColor: coloR,
                        data: data.score.score,
                        }
                    ]
                    },
                    options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        responsive: false,
                        text: 'Students score'
                    }
                    }
                }); 
            },
            error: function(error_data) {
                console.log(error_data)
            }
    })
    </script>